body {
    background-image: linear-gradient(#75E6DA, #189AB4, #05445E);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #050A30;
}

hr {
    height: 0px;
    border: none;
    border-top: 3px solid #050A30;
}

p {
    color: #D4F1F4;
    font-size: 1.4em;
}

img {
    border: 2px solid #75E6DA;
    border-radius: 7.5px;
}

video {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border: 2px solid #75E6DA;
  border-radius: 7.5px;
}

a {
    text-decoration:none;
}

/* recoloring bootstrap primary button */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #189AB4 !important;
}

.thick {
    font-weight: 600;
}

.wumbo {
    padding:50px;
    border-bottom: 2px solid #75E6DA;
}

.contrast {
    background-color: #050A30;
    color: #75E6DA;
}

.teal-font {
    color: #75E6DA;
    font-weight: 600;
    font-size: 2em;
}

.yard {
    background-color:#75E6DA;
    color:#050A30;
}


/* Sizing for features grid */
@media (min-width: 1200px) {
    .fixit {
        padding: 10px;
        margin: 10px;
        max-width: 31%;
        color: #75E6DA;
    }

    .fixright {
        margin-left: 25px;
    }
}

@media (max-width: 1199px) {
    .fixit {
        padding: 10px;
        margin: 10px;
        max-width: 100%;
        color: #75E6DA;
    }

    .fixright {
        margin-left: -5px;
    }
}

/* Play video on hover */
.video {
  max-width: 100%;
  height: auto;
}


/* Hides button/controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

/* Circle Image */
.circle_img {
    height:300px; 
    width: 300px; 
    border-radius: 100%;
    overflow: hidden;
}
